# Do not version MCU8051IDE project files
*.mcu8051ide

# We do not want temporary editor files
*~

# OS X is not nice
.DS_Store

# Do not version temporary LaTeX files
.texpadtmp/

*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
